<div id="headerwrap" style="background:#F00 !important">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Mamba JS Framework<br/>
          Rapid Web Development With AngularJS.</h1>
          <h1> Write Less, Think More! </h1>
          <form class="form-inline" role="form">
          <!-- <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
        </div> -->
        <button type="submit" class="btn btn-success btn-lg">Invite Me!</button>
      </form>
    </div><!-- /col-lg-6 -->
    <div class="col-lg-6">
      <img class="img-responsive" src="assets/img/ipad-hand.png" alt="">
    </div><!-- /col-lg-6 -->

  </div><!-- /row -->
</div><!-- /container -->
</div><!-- /headerwrap -->
